@font-face {
      font-family: "Parisine";
      src: url("./fonts/parisine.otf") format("truetype");
}

* {
      font-family: Parisine, sans-serif;
}

body {
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.4)), 
      url('./images/background.jpg');
      background-size: auto 100%; 
      background-position: center;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

img {
      margin-bottom: 20px;
}

.app-container {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
}
